<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vendas | Detalhes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="~{fragments/bootstrap :: imports}"></div>
</head>
<body>
<div th:replace="~{fragments/nav :: nav}"></div>
<div class="container">
    <h3>Venda N° <span th:text="${sale.getId}"></span></h3>
    <p>Data: <span th:text="${sale.getDate}"></span></p>
    <table class="table table-hover">
        <thead>
        <tr class="table-active">
            <th scope="col">N°</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço R$</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Total R$</th>
        </tr>
        </thead>
        <tr scope="row" th:each="i, idx : ${sale.items}">
            <td th:text="${idx.count}"></td>
            <td th:text="${i.product.description}"></td>
            <td th:text="${i.product.price}"></td>
            <td th:text="${i.getAmount()}"></td>
            <td th:text="${i.total}"></td>
        </tr>
        <tr scope="row" class="table-active">
            <th colspan="4">Total:</th>
            <td th:text="${sale.total}"></td>
        </tr>
    </table>
</div>
</body>
</html>