<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <h1>FORM</h1>
        <form th:action="${product.id == null} ? @{/products/save} : @{/products/update}" th:object="${product}" method="post">
            <input type="hidden" th:field="*{id}">
            <input type="text" th:field="*{description}" placeholder="Descrição">
            <input type="number" th:field="*{price}" placeholder="Preço">
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>

