<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Produtos | Listagem</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="~{fragments/bootstrap :: imports}"></div>
    </head>
    <body>
        <div th:replace="~{fragments/nav :: nav}"></div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th>Id</th>
                        <th>Descrição</th>
                        <th>Preço</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tr th:each="p : ${products}">
                    <td th:text="${p.id}"> </td>
                    <td th:text="${p.description}"> </td>
                    <td th:text="${p.price}"> </td>
                    <td> <a class="btn btn-outline-primary" th:href="@{/products/edit/{id}(id=${p.id})}">Editar</a> </td>
                    <td> <a class="btn btn-outline-danger" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/products/remove/{id}(id=${p.id})}">Excluir</a> </td>
                </tr>
            </table>
            <a class="btn btn-primary" href="/products/form">Criar</a>
        <div class="container">
    </body>
</html>