<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>Carrinho de Compras</h1>
    <div class="alert alert-danger" th:errors="${item.*}"></div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(error)}">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="errorAlertButton"></button>
    </div>
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${!#strings.isEmpty(success)}">
        <span th:text="${success}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="successAlertButton"></button>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">N°</th>
            <th scope="col">Descrição</th>
            <th scope="col">Preço Unitário (R$)</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Total (R$)</th>
            <th scope="col">Remover</th>
        </tr>
        </thead>
        <tr scope="row" th:each="i, idx : ${session.sale.items}">
            <td th:text="${idx.count}"> </td>
            <td th:text="${i.product.description}"> </td>
            <td th:text="${#numbers.formatCurrency(i.product.price)}"> </td>
            <td class="mx-auto">
                <form method="post" th:action="@{/cart/item/updateAmount/{idx}(idx=${idx.index})}" th:object="${item}">
                    <input th:name="amount" th:value="${i.amount}" type="number" class="form-control" onchange="send(this)">
                </form>
            </td>
            <td th:text="${#numbers.formatCurrency(i.total)}"></td>
            <td><a th:href="@{/cart/item/remove/{idx}(idx=${idx.index})}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
        </tr>
        <tr scope="row" class="table-active">
            <th colspan="4">Valor Final:</th>
            <td th:text="${#numbers.formatCurrency(session.sale.total)}"></td>
            <td></td>
        </tr>
    </table>
    <a th:href="@{/cart/finish}" class="btn btn-primary mt-2" id="finishSaleButton">Finalizar Compra</a>
</div>
<script>
    setTimeout(() => {
        document.getElementById('successAlertButton').click()
        document.getElementById('errorAlertButton').click()
    }, 5000)
</script>
<div th:replace="~{fragments/footer :: footer}"></div>