<div th:fragment="footer">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 my-4 border-top">
                <div class="col-md-4 d-flex align-items-center">
                    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"><i class="bi bi-bootstrap-fill"></i></a>
                    <span class="text-muted">© 2021 Company, Inc</span>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="https://github.com/guilherme-fcm" target="_blank"><i class="bi bi-github"></i></a></li>
                    <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/guilherme-fcm/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                    <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/guilherme.fcm/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                </ul>
            </footer>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="/webjars/bootstrap/5.2.1/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
        </body>
    </html>
</div>