<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>Cadastro de Usuários</h1>
    <form th:action="${user.id == null} ? @{/users/save} : @{/users/update}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input id="name" class="form-control" th:field="*{name}">
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        </div>
        <div class="form-group">
            <label for="cpf">CPF:</label>
            <input id="cpf" class="form-control" th:field="*{cpf}" placeholder="Ex: XXX.XXX.XXX-XX">
            <label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></label>
        </div>
        <div class="d-flex justify-content-between mt-3">
            <a class="btn btn-outline-primary" href="/users">Voltar para a Listagem</a>
            <button class="btn btn-primary" type="submit">Enviar</button>
        </div>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>