<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Usuários | Cadastro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="~{fragments/bootstrap :: imports}"></div>
    </head>
    <body>
        <div th:replace="~{fragments/nav :: nav}"></div>
        <div class="container">
            <h1>Cadastro de Usuários</h1>
            <form th:action="${user.id == null} ? @{/users/save} : @{/users/update}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input id="name" class="form-control" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label for="cpf">CPF:</label>
                    <input id="cpf" class="form-control" th:field="*{cpf}" placeholder="Ex: XXX.XXX.XXX-XX">
                </div>
                <button class="btn btn-primary mt-3" type="submit">Enviar</button>
            </form>
        <div class="container">
    </body>
</html>
