<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>Usuários | Listagem</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tr th:each="u : ${users}">
                <td th:text="${u.id}"> </td>
                <td th:text="${u.name}"> </td>
                <td th:text="${u.cpf}"> </td>
                <td> <a th:href="@{/users/edit/{id}(id=${u.id})}">Editar</a> </td>
                <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/users/remove/{id}(id=${u.id})}">Excluir</a> </td>
            </tr>
        </table>
        <button><a href="/users/form">Criar</a></button>
    </body>
</html>
