<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <title>Empresas | Listagem</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div th:replace="~{fragments/bootstrap :: imports}"></div>
    </head>
    <body>
        <div th:replace="~{fragments/nav :: nav}"></div>
        <div class="container">
            <table class="table">
                <thead>
                <tr class="table-active">
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
                </thead>
                <tr th:each="c : ${companies}">
                    <td th:text="${c.id}"> </td>
                    <td th:text="${c.name}"> </td>
                    <td th:text="${c.cnpj}"> </td>
                    <td> <a class="btn btn-outline-primary" th:href="@{/companies/edit/{id}(id=${c.id})}"><i class="bi bi-pencil-square"></i></a> </td>
                    <td> <a class="btn btn-outline-danger" onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/companies/remove/{id}(id=${c.id})}"><i class="bi bi-trash"></i></a> </td>
                </tr>
            </table>
            <a class="btn btn-primary" href="/companies/form">Criar</a>
        </div>
    </body>
</html>
