<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrinho</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    <div class="container">
        <h1>Carrinho de Compras</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Descrição</th>
                <th scope="col">Preço R$</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Total R$</th>
                <th scope="col">Remover</th>
            </tr>
            </thead>
            <tr scope="row" th:each="i, idx : ${session.sale.items}">
                <td th:text="${idx.count}"> </td>
                <td th:text="${i.product.description}"> </td>
                <td th:text="${i.product.price}"> </td>
                <td class="mx-auto" width="40">
                    <form method="post" th:action="@{/sales/updateItemAmount/{idx}(idx=${idx.index})}" th:object="${item}">
                        <input th:field="*{amount}" th:value="${i.amount}" type="number" class="form-control" onchange="sendAmount(this)">
                    </form>
                </td>
                <td th:text="${i.total}"></td>
                <td><a th:href="@{/sales/removeItem/{idx}(idx=${idx.index})}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a></td>
            </tr>
            <tr scope="row" class="table-active">
                <th colspan="4">Total:</th>
                <td th:text="${session.sale.total}"></td>
                <td></td>
            </tr>
        </table>
        <a th:href="@{/sales/finish}" type="button" class="btn btn-primary">Finalizar Compra</a>
    </div>
    <script>
        function sendAmount(element){
            element.parentElement.submit()
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>