<div th:replace="~{fragments/header :: header}"></div>
    <h1>Faça suas Compras</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col" th:each="p : ${products}">
            <div class="card h-100">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title" th:text="${p.description}"></h5>
                    <p class="card-text">R<span th:text="${#numbers.formatCurrency(p.price)}"></span></p>
                    <a th:href="@{/sales/addItem/{productId}(productId=${p.id})}" class="btn btn-primary">Adicionar ao Carrinho</a>
                </div>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div>

