<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Loja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    <body>
        <div th:replace="~{fragments/nav :: nav}"></div>
        <div class="container">
            <h1>Faça suas Compras</h1>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" th:each="p : ${products}">
                    <div class="card h-100">
    <!--                    <img src="..." class="card-img-top" alt="...">-->
                        <div class="card-body">
                            <h5 class="card-title" th:text="${p.description}"></h5>
                            <p class="card-text">R$<span th:text="${p.price}"></span></p>
                            <a th:href="@{/sales/addItem/{productId}(productId=${p.id})}" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    </body>
</html>

